* {
  /*/margin: 0;
  //padding: 0;
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  */
  box-sizing: border-box;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
html,
body {
  /*margin: 0;*/
  padding: 0;
  optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #fff;
}





/*Barra menu principal*/
h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  margin: auto;
  position: relative;
  background-color: #000000;
  z-index: 7;
}
.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
a.active {
  background-color: #000000;
  pointer-events: none;
}
li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #039be5;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 75%;
  background-color: #16a085;
}




/*AQUI MENU LATERAL DERECHA*/

@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');



.cuadroContenido{
  
  width: 100%;
  height: 60%;
  color: #fff;
  background-color: #fff;
  font-family: Raleway;
  font-size: 20px;
  align-items: center;
}

.cuadroContenido{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

}

.cuadroContenido .contenido-columna{
  width: 100%;
  height: 80%;
}

.cuadroContenido .contenido-columna:nth-child(1){
  width: 20%;
  height: 800px;
  background: #000000;

}


.cuadroContenido .contenido-columna:nth-child(2){
  width: 80%;
  padding-left: 5px;
  justify-content: all;
}


.cuadroContenido .contenido-columna .middle{
  margin-top: 30px;
  top: 50%;
  left: 50%;
  


}

.cuadroContenido .contenido-columna .menulat{
  
  width: 100%;
  border-radius: 2px;
  overflow: hidden;

}

.cuadroContenido .contenido-columna .itemes{
  --fuenteMenulateral: 10px;
  --colorMenuLateral: #293949;

  display: block;
  border-top: 1px solid rgba(255,255,255,.05);
  overflow: hidden;
  font-size: var(--fuenteMenulateral);
  

}

.cuadroContenido .contenido-columna .itemes div{
  width: 100%;
  text-align: left;
}



.cuadroContenido .contenido-columna .btn{
  display: flex;
  background: var(--colorMenuLateral);
  color: white;
  position: relative;
  justify-content: space-around;
}



.cuadroContenido .contenido-columna .btn:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--colorMenuLateral);
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}


.cuadroContenido .contenido-columna .btn i{
  margin-left: 0px;
  margin-right: 20px;
}

.cuadroContenido .contenido-columna .smenu{
  
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.cuadroContenido .contenido-columna .smenu a{
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: var(--fuenteMenulateral);
  margin: 4px 0;
  position: relative;
}

.cuadroContenido .contenido-columna .smenu a:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.cuadroContenido .contenido-columna .smenu a:hover:before{
  opacity: 1;
}

.cuadroContenido .contenido-columna .itemes:target .smenu{
  max-height: 20em;
}








/*PIE DE PAGINA*/


footer {

  width: 100%;
  color: #fff;
  background-color: #000000;
}

.footer-container{
  width: 100%;
  height: 200px;
  font-family: Raleway;
  font-size: 20px;
  text-align: center;

}

.footer-container h2 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 80px;
  line-height: 87px;
  color: #333333;
}

.footer-container h3 {
  font-family: Raleway;
  font-size: 30px;
  color: #333333;
}


.footer-main{
  width: 98%;
  max-width: 100%;
  margin: auto;
  padding: 50px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.footer-main .footer-columna{
  width: calc(100% / 3);
  text-align: center;
}

.footer-main .footer-columna:nth-child(3) {
  padding: 0 0;
  font-size: 15px;
}

.barra_derechoAutor {
  text-align: center;
  font-size: 12px;
  font-family: Raleway;
  color: #fff;

}

