* {
  /*/margin: 0;
  //padding: 0;
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  */
  box-sizing: border-box;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
html,
body {
  /*margin: 0;*/
  padding: 0;
}
body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;
}





/*Barra menu principal*/
h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  margin: auto;
  position: relative;
  background-color: #2c3e50;
  z-index: 7;
}
.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
a.active {
  background-color: #2c3e50;
  pointer-events: none;
}
li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #039be5;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 75%;
  background-color: #16a085;
}




/*AQUI MENU LATERAL DERECHA*/

@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

.cuadroContenido{

  width: 100%;
  height: 60%;
  color: #fff;
  background-color: #f2f;
  font-family: Raleway;
  font-size: 20px;
  align-items: center;
}

.cuadroContenido{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

}

.cuadroContenido .contenido-columna{
  width: 100%;
}

.cuadroContenido .contenido-columna:nth-child(1){
  width: 13%;
}


.cuadroContenido .contenido-columna:nth-child(2){
  width: 87%;
  padding-left: 5px;
}


.sidebar {
  width: 240px;
  height: 100%;
  background: #293949;
  
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}











/*PIE DE PAGINA*/


footer {

  width: 100%;
  height: 20%
  color: #fff;
  background-color: #000000;
}

.footer-container{
  width: 100%;
  height: 200px;
  font-family: Raleway;
  font-size: 20px;
  text-align: center;

}

.footer-container h2 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 80px;
  line-height: 87px;
  color: #333333;
}

.footer-container h3 {
  font-family: Raleway;
  font-size: 30px;
  color: #333333;
}


.footer-main{
  width: 98%
  max-width: 100%;
  margin: auto;
  padding: 50px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.footer-main .footer-columna{
  width: calc(100% / 3);
  text-align: center;
}

.footer-main .footer-columna:nth-child(3) {
  padding: 0 0;
  font-size: 15px;
}

.barra_derechoAutor {
  text-align: center;
  font-size: 12px;
  font-family: Raleway;
  color: #fff;

}

